     /* Global Selector */


       /* CSS Reseting */
*{
    text-align: center;
}




      /* Element Selector */

h1{
    text-align: center;
    color: rgb(123, 123, 212);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label ,button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

          /* Id Selector */

#username{
    padding: 10px 20px;
}

#password{
    padding: 10px 20px;
}


       /* Class Selector */

.submit{
    padding: 10px;
}