/* Global Selector */


       /* CSS Reseting */
       *{
        text-align: center;
    }
    
    .login{
        background-color: rgb(15, 15, 15);
        display: flex;
        justify-content: center;
        height: 800px;
       
    }

    form{
    margin-top: 50px;
        height: 340px;
        width: 380px;
        background-color: rgb(19, 18, 17);
        border-radius: 10px;
        box-shadow: 0px 1px 10px 7px rgba(0,255,255,0.7),
        1px 2px 10px 0px rgba(0,255,255,0.7),
        2px 4px 10px 0px rgba(0,255,255,0.7),
        2px 4px 10px 0px rgba(0,255,255,0.7);

    }


          /* Element Selector */
    
    h1{
        text-align: center;
        color: rgb(123, 123, 212);
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    label ,button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:  #8FBC8B;
    }
    
              /* Id Selector */
    
    #username{
        margin-left: 5px;
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 7px;
        border: none;
    }
    
    #password{
        margin-left: 5px;
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 7px;
        border: none;
    }
    
    
           /* Class Selector */
    
    .submit{
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px 30px;
        background-color:  #D2B48C;
        border-radius: 10px;
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
       
        color: rgb(20, 19, 20); box-shadow: 0 0 10px 5px #BA55D3;

    }

    


    /* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #557C55;
    height: 77px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



nav > div > h1{
    margin-top: 15px;
    margin-left: 15px;
    color: white;
}

    nav > div >ul{
        display: flex;
        gap: 20px;
    } 

    nav > div > ul > li{
        margin-right: 20px;
        list-style: none;

    }


    nav > div > ul > li:hover{
      text-underline-offset: 7px;
      text-decoration: underline;
      color: white;
      cursor: pointer;
    }




    nav > div > ul > li > a{
        color: white;
        text-decoration: none;
        

    }


    /* Navbar end */



    /* Main section-1 */
    
.section-1{
    display: flex;
     justify-content: space-evenly;
    align-items: center; 
    background-color: #FFC5C5;
    height: 400px;
}

.section-1 > .img{
    background-image: url("img1.png");
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    /* box-shadow: 1px 1px 20px yellow; */
    filter: drop-shadow(1px 1px 20px rgb(103, 197, 90));
}

.section-1 > div >p{
    width: 270px;
    color: rgb(80, 78, 77), 144);
  
}

/* Main section-1 end */





 /* Main section-2 */
 
 .section-2{
    background-color: #FA7070;
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
 }

 .section-2 >.section-2-box1 > label{
    color: white;
 }

 .section-2 >.section-2-box2 > label{
    color: white;
 }

 .section-2 > div > .submit{
    background-color: brown;
    color: rgb(236, 232, 236); box-shadow: 0 0 10px 5px #BA55D3;
 }


 /*  Main section-2 end */
